<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asalazar.alex.smsrecords" >
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpanedView"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asalazar.alex.smsrecords.MainActivity" />
        </activity>
        <receiver android:name=".StartServiceOnBoot" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.asalazar.alex.smsrecords.SendDataToDatabaseBackgroundBroadcast"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.alex.smsrecords.BroadcastReceiver" />
            </intent-filter>
        </receiver>
        <service android:name="com.asalazar.alex.smsrecords.SendToDatabaseBackgroundService" android:enabled="true" android:process=":SendToDatabaseBackgroundService" />
    </application>

</manifest>


